extends ../layout

block content
  h1 Contact
  h3 Email
  p
    a(href="mailto:arlingtonsalsa@gmail.com", target="_blank") arlingtonsalsa@gmail.com
  h3 Phone
  p Marcus Negron - <a href="tel:5126500496">512-650-0496</a> (Must Leave Message with Name, Contact information, and Interest)
