extends ../layout

block content
  h1 About Marcus
  p
    | Hi, my name is Marcus Antony Negron. I am Puerto Rican American and was originally born in the Bronx, New York!! I'm currently attending the University of Texas at Arlington and going to school for a degree in Business Administration.
    | My Salsa beginnings began humbly when I first began to attend the University of Texas at Arlington (UTA). I joined a Latin Organization called L.A.S.O. and became one of the co-founders of the L.A.S.O. dance team "Los Rumberos". The team was created to represent a part of the Hispanic culture during UTA's International week. 
    | I was on the team for 2 years and eventually moved to Austin and met two amazing dancers by the names of Delilah Torrence and Lorenzo Brizeno who were the first to show me what Salseros could really look like with training. I was hooked!! Later I was asked to be a part of the Mezcla Dance Co.
    | For the next 2 years I performed at events all around Texas; I performed in cities including but not limited to Austin, San Antonio, Dallas, South Padre, Laredo, and Houston.
    | After that I moved back to Arlington and I have been teaching in the area for the past 5 years. My goal here is to inspire people to take lessons to dance and help the Latin dance scene grow in the Arlington, Grand Prairie, Irving, Dallas, and Fort Worth areas.