extends ../layout

block content
  h1 Group Classes
  h3 Learn salsa on2 with Marcus Negron
  ul
    li Level 1 & 2 Cycles begins May 11th, 2013
    li Level 1 Class begins: 2:00 - 3:00pm
    li 6 week level 1 cycle class: $50
    li Level 2 Class begins: 1:00 - 2:00pm
    li 6 week level 2 cycle class: $50
    li Walk-ins: $10
    li Partner not required
    li Located at <a href="http://www.mysalsadancestudio.com" target="_blank">My Salsa Dance Studio.</a> <a href="http://goo.gl/F0Ng7" target="_blank">Get Directions.</a>