extends layout

block content

  div.jumbotron
    div.container
      h1 Arlington Salsa
      p
        | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
      p
        a.btn.btn-primary.btn-lg Learn More &raquo;
  p Welcome to Arlington Salsa.com
  
